* {
    box-sizing: border-box;
  }

.grid-container-header {
    display: grid;
    grid-template-columns: 660px 100px 100px 100px;
    width: 960px;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
}

.grid-item {
    padding: 20px;
}

.header {
    width: 100%;
    background: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #cccccc;
    margin-right: auto;
    margin-left: auto;
    color: #777777;
}

body {
   background-image: url("../images/background.jpg")
    /* background: gray; */
    }

#HopeGratrix {
    background: #4aaaa5;
    color: #ffffff;
    font-size: 25px;
    width: 250px;
    text-align: center;
    padding: 22.5px;
    grid-column-start: 1;
    grid-column-end: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#About {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
}

#Portfolio {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: right;
}

#Contact {
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: right;
}

footer {
    width: 100%;
    height: 45px;
    background: #666666;
    border-top-style: solid;
    border-color: #4aaaa5;
    border-width: 5px;
    position: relative;
    bottom: 0;
}

.grid-container-AboutMe {
    background: #ffffff;
    width: 960px;
    height: 450px;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    color: #777777;
}


#AboutMe {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-left: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-color: #dddddddd;
    border-width: 4px;
    margin-right: 35px;
}

#MyPicture {
    width: 200px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    margin-left: 35px;
    float: left;
    margin-right: 25px;
}

#MyBio {
    font-family: 'Handlee', cursive;
    font-size: 16px;
    line-height: 1.6;
}

p{
    margin-right: 35px;
    margin-left: 35px;
}

.grid-container-contact {
    background: #ffffff;
    width: 960px;
    height: 500px;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    margin-bottom: 100px;   
}

#contact {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-left: 35px;
    padding-bottom: 30px;
    padding-top: 15px;
    border-bottom-style: solid;
    border-color: #dddddddd;
    border-width: 4px;
    margin-right: 35px;
}

label {
    font-family:'Handlee', cursive;
    color: #777777;
    font-size: 15px;
    margin-left: 35px;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 6px;
}

input {
    width: 890px;
    color: #dddddd;
    margin-left: 35px;
}

button {
    margin-left: 35px;
    color: #ffffff;
    background-color: #4aaaa5;
    margin-top: 10px;
}

#message {
    padding: 80px;
}

.grid-container-FollowMe {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ffffff;
    width: 960px;
    height: 50px;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    color: #777777;
}

.follow {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.followlink {
    font-size: 15px;
}

#FollowMe {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}