* {
    box-sizing: border-box;
  }

.grid-container-header {
    display: grid;
    grid-template-columns: 600px 120px 120px 120px;
    width: 960px;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
}

.grid-item {
    padding: 20px;
}

.header {
    width: 100%;
    background:#808080;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #e6e6e6;
    margin-right: auto;
    margin-left: auto;
}

body {
   background-image: url("../images/dark_embroidery.png")
    }

#HopeGratrix {
    background: #96042d;
    color: #e6e6e6;
    font-size: 25px;
    width: 250px;
    text-align: center;
    padding: 22.5px;
    grid-column-start: 1;
    grid-column-end: 2;
    font-family: 'Playfair Display', serif;
}

#About {
    grid-column-start: 2;
    grid-column-end: 3;
}

#Portfolio {
    grid-column-start: 3;
    grid-column-end: 4;
}

#Contact {
    grid-column-start: 4;
    grid-column-end: 5;
}

.hlink {
    font-family: 'Poppins', sans-serif;
    text-align: right;
    font-size: 20px;
    color: #e6e6e6;
    padding-top: 35px;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 45px;
    background: #808080;
    border-top-style: solid;
    border-color: #e6e6e6;
    border-width: 5px;
    position: relative;
    bottom: 0;
}

.grid-container-AboutMe {
    background: #e6e6e6;
    width: 960px;
    height: 450px;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #96042d;
    color: #323232;
}


#AboutMe {
    color: #96042d;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin-left: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-color: #808080;
    border-width: 4px;
    margin-right: 35px;
}

#MyPicture {
    width: 200px;
    border-style: solid;
    border-color: #96042d;
    border-width: 2px;
    margin-left: 35px;
    float: left;
    margin-right: 25px;
}

#MyBio {
    font-family: 'Handlee', cursive;
    font-size: 16px;
    line-height: 1.6;
}

p{
    margin-right: 35px;
    margin-left: 35px;
}

.grid-container-contact {
    background: #e6e6e6;
    width: 960px;
    height: 500px;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #96042d;
    margin-bottom: 40px;   
}

#contact {
    color: #96042d;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin-left: 35px;
    padding-bottom: 20px;
    padding-top: 15px;
    border-bottom-style: solid;
    border-color: #808080;
    border-width: 4px;
    margin-right: 35px;
}

label {
    font-family:'Handlee', cursive;
    color: #323232;
    font-size: 15px;
    margin-left: 35px;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 6px;
}

input {
    width: 890px;
    color: #323232;
    margin-left: 35px;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    font-family: 'Poppins', sans-serif;
}

button {
    margin-left: 35px;
    color: #e6e6e6;
    background-color: #96042d;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

#message {
    padding: 80px;
}

.grid-container-FollowMe {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #e6e6e6;
    width: 960px;
    height: 50px;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #96042d;
}

.follow {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.followlink {
    font-size: 20px;
    color: #808080;
    font-family: 'Poppins', sans-serif;
}

#FollowMe {
    color: #96042d;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}

a.hlink:hover {
    font-size: 25px;
    color: #96042d;
}

.container-portfolio {
    display: grid;
    background: #e6e6e6;
    width: 960px;
    height: 550px;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #96042d;
}

.grid-container-portfolio {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

#portfolio {
    color: #96042d;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin-left: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-color: #808080;
    border-width: 4px;
    margin-right: 35px;
}

.picture {
    width: 250px;
    height: 200px;
    border-style: solid;
    border-color: #96042d;
    border-width: 2px;
    align-content: center;
    position: relative;
}

.title {
    background-color: #96042d;
    padding: 10px;
    width: 250px;
    color: #e6e6e6;
    text-align: center;
    position: absolute;
    bottom: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #323232;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}

.relative {
    position: relative;
    bottom:hom 15px;
}

textarea {
    font-family: 'Poppins', sans-serif;
}
